.g-container {
  overflow: hidden;
  position: relative;
  width: 100%;
  max-width: 640px;
  min-width: 320px;
  height: 100%;
  margin: 0 auto;
}

.g-view-container {
  height: 100%;
  padding-bottom: 50px;
}

.g-header-container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.g-footer-container {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 0 10px 0 rgba(154, 141, 141, 0.6);
}

.g-backtop-container {
  position: absolute;
  z-index: 1100;
  right: 10px;
  bottom: 60px;
}
